<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container-fullwidth globalnavbar">
        <nav class="navbar bg-light">
            <a class="navbar-brand" href="/">Thesis Prototype</a>
        </nav>
    </div>


    <div class="container body-content">
        @RenderBody()
        @Html.Partial("_LoginPartial")
        <hr />
        <footer>
            <p>&copy; 2017 </p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
